.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  padding: 25px;
}

.link {
  color: inherit;
}

.link:hover {
  text-decoration: none;
}
